<nav>
  <!-- website icon placeholder -->
  <i id='navLogo' class="fa fa-code fa-2x" ui-sref='app.landing'></i>
  <div class='navIcons' >
    <!-- notifications -->
    <i class="navIcon fa fa-bell fa-2x" data-toggle='tooltip' data-placement='bottom' title='Notifications' ui-sref='app.notifications' ng-if='loggedIn'></i>
    <!-- teach -->
    <!-- <span class="navIcon" ui-sref='app.teach.history' ng-if='loggedIn'><span class='menuText'>Teach</span></span> -->
    <div class="btn-group" ng-if='loggedIn'>
      <button type="button" class="btn btn-link dropdown-toggle navButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class='menuText'>
          Teach
          <span class="caret"></span>
        </span>
      </button>
      <ul class="dropdown-menu">
        <li><a ui-sref='app.teach.openSessions'>Open Sessions</a></li>
        <li><a ui-sref='app.teach.scheduleClass'>Schedule Class</a></li>
        <li><a ui-sref='app.teach.history'>History</a></li>
        <li><a ui-sref='app.teach.stats'>Stats</a></li>
      </ul>
    </div>
    <!-- learn -->
    <!-- <span class="navIcon" ui-sref='app.learn.history' ng-if='loggedIn'><span class='menuText'>Learn</span></span> -->
    <div class="btn-group" ng-if='loggedIn'>
      <button type="button" class="btn btn-link dropdown-toggle navButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class='menuText'>
          Learn
          <span class="caret"></span>
        </span>
      </button>
      <ul class="dropdown-menu">
        <li><a ui-sref='app.learn.makeRequest'>Request Help</a></li>
        <li><a ui-sref='app.learn.openSessions'>Open Sessions</a></li>
        <li><a ui-sref='app.learn.unanswered'>Unanswered</a></li>
        <li><a ui-sref='app.learn.history'>History</a></li>
        <li><a ui-sref='app.learn.searchClasses'>Search Classes</a></li>
      </ul>
    </div>
    <!-- Side Menu -->
    <i id='sidemenu' class="navIcon fa fa-cog fa-2x toggle-nav" data-toggle='tooltip' data-placement='bottom' title='Menu' ui-sref='app.account' ng-if='loggedIn'></i>
    <!-- login -->
    <i class="navIcon fa fa-sign-in fa-2x" ng-if='!loggedIn'></i>
  </div>
</nav>

<div ui-view></div>
