<nav>
  <!-- website icon placeholder -->
  <i id='navLogo' class="navIcon fa fa-code fa-2x" ui-sref='app.landing'></i>
  <div class='navIcons' >
    <!-- notifications -->
    <i class="navIcon fa fa-bell fa-2x" data-toggle='tooltip' data-placement='bottom' title='Notifications' ui-sref='app.notifications' ng-if='loggedIn'></i>
    <!-- teach -->
    <span class="navIcon" ui-sref='app.teach.history' ng-if='loggedIn'><span class='menuText'>Teach</span></span>
    <!-- learn -->
    <span class="navIcon" ui-sref='app.learn.history' ng-if='loggedIn'><span class='menuText'>Learn</span></span>
    <!-- Side Menu -->
    <i id='sidemenu' class="navIcon fa fa-cog fa-2x toggle-nav" data-toggle='tooltip' data-placement='bottom' title='Menu' ui-sref='app.account' ng-if='loggedIn'></i>
    <!-- login -->
    <i class="navIcon fa fa-sign-in fa-2x" ng-if='!loggedIn'></i>
  </div>
</nav>

<div ui-view></div>
