<h2>On the landing page</h2>


<a ui-sref='app.users'>Go to Users Page</a>


<div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>
  <form user-signup id='signupForm' name='signupForm' ng-submit=''>
    <div class='form-group'>
      <input type='email' name='email' class='form-control' ng-model='signup.email' placeholder='Email' required>
      <input type='password' name='password' class='form-control' ng-model='signup.password' placeholder='Password' required>
      <input type='password' name='password2' class='form-control' ng-model='signup.password2' placeholder='Confirm Password' required>
    </div>
    <button type='submit' class='btn btn-primary form-control'>Sign Up</button>
  </form>
</div>