nav {
  margin-top: 0;
  background-color: gray;
  padding-bottom: 0.5em;
}

#navLogo {
  margin-left: 0.5em;
  display: inline-block;
  padding-top: 0.4em;
  &:hover {
    cursor: pointer;
  }
}

.navIcons {
  display: inline-block;
  float: right;
  height: inherit;
  .navIcon {
    //margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.navIcon {
  padding-top: 0.2em;
  &:hover {
    padding-bottom: 0.3em;
    background-color: white;
    cursor: pointer;
  }
}

.navButton {
  position: relative;
  margin-top: -0.8em;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    color: white;
    //border-bottom: 1px solid gray;
    cursor: pointer;
  }
}

.menuText {
  font-size: 2em;
  color: #333;
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}

#loginForm {
  margin-top: 0.5em;

  input {
    display: inline;
    width: initial;
  }
  button {
    margin-top: -0.1em;
    &:hover {
      color: white;
    }
  }
}

a {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  &:focus {
    outline: none !important;
  }
}

input {
  &:focus {
    outline: none !important;
    -webkit-appearance: none !important;
    box-shadow: none;
  }
}

.form-control {
  &:focus, &:active {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none;
    border-color: initial;
  }
}

#chatForm {
  position: fixed;
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#chatMessage {
  position: relative;
  margin-top: 2em;
  font-size: 1.5em;
}

#chatSurface {
  position: absolute;
  top: 0;
  width: 100%;
}

#chatList {
  position: absolute;
  padding: 0 3em 0 3em;
  margin-top: 4em;
  margin-bottom: 4em;
  width: 100vw;
}

.chatMessageDisplay {
  font-size: 1.2em;
  border-radius: 10px;
  padding: 0.5em;
}

.chatLeft {
  display: inline-block;
  background-color: lightblue;
  text-align: left;
  max-width: 20em;
  float: left;
  border-radius: 0px 20px 20px 20px;
  word-wrap: break-word;
}

.chatRight {
  display: inline-block;
  background-color: orange;
  text-align: left;
  max-width: 20em;
  float: right;
  border-radius: 20px 20px 0px 20px;
  word-wrap: break-word;
}
