nav {
  margin-top: 0;
  background-color: gray;
  padding-bottom: 0.5em;
}

#navLogo {
  margin-left: 0.5em;
  display: inline-block;
  padding-top: 0.2em
}

.navIcons {
  display: inline-block;
  float: right;
  .navIcon {
    //margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.navIcon {
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.menuText {
  font-size: 2em
}

a {
  cursor: pointer;
}

input {
  &:focus {
    outline: none;
  }
}